@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ubuntu:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #28243d;
}

::-webkit-scrollbar-thumb {
    background: #28243d;
}

::-webkit-scrollbar-thumb:hover {
    background: #28243d;
}

.ReactCollapse--collapse {
    transition: height 500ms;
}