@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ubuntu:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #28243d;
}

::-webkit-scrollbar-thumb {
    background: #28243d;
}

::-webkit-scrollbar-thumb:hover {
    background: #28243d;
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

/* 
.inputGroup {
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: white;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
} */

/* 
.form-group-input .label {
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.form-group-input .input:focus~.label,
.form-group-input .input:valid~.form-group-input .label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.form-group-input .bar {
    position: relative;
    display: block;
    width: 752px;
}

.form-group-input .bar:before,
.form-group-input .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.form-group-input .bar:before {
    left: 50%;
}

.form-group-input .bar:after {
    right: 50%;
}

.form-group-input .input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.form-group-input .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.form-group-input .input:focus~.form-group-input .highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
} */